<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usersettingsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UserSettingsApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name="com.example.usersettingsapp.ProfileActivity"
            android:parentActivityName="com.example.usersettingsapp.MainActivity" />

        <activity
            android:name="com.example.usersettingsapp.SettingsViewerActivity"
            android:parentActivityName="com.example.usersettingsapp.MainActivity" />

        <activity android:name="com.example.usersettingsapp.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>